/*
Theme Name: TLOA Books
Theme URI: https://tloabooks.com
Description: TLOA Books theme
Author: TLOA Books
Author URI: https://tloabooks.com
Template: salient
Version: 0.1
*/


/***** BLOG *****/

#post-area.masonry article.post .post-meta {
  display: none !important;
}

body.home .meta-category {
  display: none !important;
}

.masonry.classic_enhanced .masonry-blog-item h3.title {
  text-transform: none !important;
}

#page-header-bg h1, body h1, body #page-header-bg span.subheader {
  text-transform: none !important;
}


/***** SINGLE *****/

#single-below-header {
  display: none !important;
}

.book-cta .nectar-button {
  color: #ffffff !important;
  background-color: #0eb5b9 !important;
  border: none !important;
}

/***** SEARCH *****/

#search-results .result .title span {
  display: none !important;
}

#search-box input {
  text-transform: none !important;
}

#search-results .result .inner-wrap {
  border-radius: 4px !important;
  box-shadow: 0px 1px 3px rgba(0,0,0,.08) !important;
}

/***** FOOTER *****/

#footer-widgets .textwidget p:last-child {
  font-size: 12px !important;
  font-weight: 400 !important;
}

#footer-widgets .textwidget p:last-child a:hover {
  color: #ffffff !important;
  text-decoration: underline !important;
}
